<div class="top section">
    <!-- <div class="search-container">
        <img src="https://instagram.fadb3-2.fna.fbcdn.net/v/t51.2885-19/s150x150/33210194_172829826717323_5463057796167630848_n.jpg?_nc_ht=instagram.fadb3-2.fna.fbcdn.net&_nc_ohc=w4tEBmGeRrkAX_nSOSK&tp=1&oh=2bcf83984defa0f626a2d9a3b1d9ae16&oe=5FEA2DC9"/> 
        <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div> -->

</div>